[run]
source =
    main_app
    usermanagement_24782038
    dashboard_24782038
    about
    contacts

[report]
omit =
    */tests/*
    */tests.py
    */migrations/*
    */__pycache__/*
    */apps.py
    */admin.py
    */urls.py
    manage.py
show_missing = True
skip_covered = False
